// Core
@import 'node_modules/nhsuk-frontend/packages/core/all';

// Individual components
@import 'node_modules/nhsuk-frontend/packages/components/skip-link/skip-link';
@import 'node_modules/nhsuk-frontend/packages/components/header/header';
@import 'node_modules/nhsuk-frontend/packages/components/footer/footer';
@import 'node_modules/nhsuk-frontend/packages/components/breadcrumb/breadcrumb';
@import 'node_modules/nhsuk-frontend/packages/components/back-link/back-link';
@import 'node_modules/nhsuk-frontend/packages/components/button/button';
@import 'node_modules/nhsuk-frontend/packages/components/care-card/care-card';
@import 'node_modules/nhsuk-frontend/packages/components/action-link/action-link';
@import 'node_modules/nhsuk-frontend/packages/components/error-message/error-message';
@import 'node_modules/nhsuk-frontend/packages/components/label/label';
@import 'node_modules/nhsuk-frontend/packages/components/input/input';
@import 'node_modules/nhsuk-frontend/packages/components/details/details';
@import 'node_modules/nhsuk-frontend/packages/components/panel/panel';

.geo-locate {
  display:none;

  > div {
	display: none;
	
	img {
		height: 40px;
		width: 40px;
		margin: 0 0 -13px 10px;
	}
  }
  
  &--denied {
	display: none;
  }
}

.result-distance {
	margin-bottom: 0;
}

.result-panel {
	margin-top: 0;

	details {
		margin-bottom: 0;
	}
}