node_modules/
*.css
*.css.map
assets.json
app/views/includes/header-items.nunjucks

# Ignore everything in public/js/* but include public/js/vendor
public/js/*
!public/js/vendor

coverage/
.sass-cache
npm-debug.log
npm-debug.log.*
yarn-error.log
.env
.DS_Store
.coveralls.yml

*.swp
.idea/*

*.jtl
jmeter.log

# newrelic log file
newrelic_agent.log

# Backstop stuff
backstop-tests/backstop_data/html_report/
backstop-tests/backstop_data/bitmaps_test/
backstop-tests/.idea

# nyc test coverage
.nyc_output
