@import "environment/settings/colours";
@import "environment/tools/mixins/conditionals";

$blue-1: #669ed4;
$grey: #E8EDEE;
$grey-2: #bac4c8;
$grey-4: #425563;

body {
  &.resultsPage {
    background-color:$grey;
    header {
      background-color: $white;
    }
    .breadcrumb {
      background-color: $white;
    }
    main {
      h1 {
        color:$black;
        padding:0 16px;
        position: relative;
        font-size:32px;
        border-top:24px solid $grey;
        padding:12px 16px 32px;
        line-height:20px;
        font-weight:600;
        @include media(tablet) {
          max-width: 960px;
          margin:auto;
          font-size:36px;
        }
      }
      .viewToggle {
        margin: 16px 24px;
        a {
          text-decoration: none;
          position: relative;
          color: $black;
          margin-left:50px;
          display: inline-block;
          &:before {
            display: inline-block;
            height:40px;
            width:40px;
            border:4px solid $blue;
            content: "";
            left:-50px;
            position: absolute;
          }
          &.checked{
            &:after {
              content: "";
              display: inline-block;
              left:-36px;
              position: absolute;
              height:25px;
              width:12px;
              top:5px;
              border:4px solid $black;
              border-width: 0px 4px 4px 0px;
              transform:         rotate(45deg);
              -ms-transform:     rotate(45deg); /* IE 9 */
              -webkit-transform: rotate(45deg); /* Safari 3-8 */
            }
          }
          @include media(tablet) {
            line-height:40px;
          }
        }
      }
      .page-section {
        padding:0;
        margin:0;
        max-width: 100%;
        .grid-row {
          max-width:960px;
          margin:0 auto;
        }
        .results {
          margin-bottom:32px;
          li {
            padding:0;
            border: none;
            border-top:2px solid $grey-2;
            @include media(tablet) {
              min-height: 495px;
            }
            &.results__item--bankHoliday {
              @include media(tablet) {
                min-height: 630px;
              }
            }
            .results {
              &__details {
                padding:30px 0 0;
                @include media(tablet) {
                  width:100%;
                  > h2,
                  > p,
                  section {
                    max-width: calc( 100% * 1/2);
                  }
                }
                @include media(desktop) {
                  width:100%;
                  > h2,
                  > p {
                    max-width: calc( 100% * 3/5);
                  }
                  > section {
                    max-width: calc( 100% * 1/3);
                  }
                }
                > p {
                  &:first-of-type {
                    font-size: 16px;
                    line-height: 16px;
                    color:$grey-1;
                  }
                }
                .callout {
                  &--info {
                    background-color: $white;
                    border-left:0;
                    border-top:2px solid $blue-1;
                  }
                }
              }
            }
            p {
              &.callout {
                &--bh {
                  background:transparent;
                  border-width: 2px 0;
                  border-color:$blue;
                  padding:10px 0;
                  position:relative;
                  margin-top:42px;
                  font-size:16px;
                  line-height: 24px;
                  &:after {
                    content:"i";
                    text-indent: -9999px;
                    background: $blue url(images/info_icon.png) center center no-repeat;
                    height: 30px;
                    width: 30px;
                    display: inline-block;
                    text-align: center;
                    position: absolute;
                    top: -30px;
                    left: 0;
                  }
                }
              }
            }
          }
          > li {
            &:last-child {
              border-bottom:2px solid $grey-2;
              padding-bottom:30px;
            }
          }
          .device {
            &--tablet {
              display:none;
              position: absolute;
              right:0;
              top:0;
              @include media(tablet) {
                display:block;
              }
            }
            &--mobile {
              @include media(tablet) {
                display:none;
              }
            }
          }
          .openingTimes {
            margin: 32px 0 0;
            tr {
              &:first-child {
                display:none;
              }
              td, th {
                font-size:20px;
                line-height: 20px;
                padding:5px;
                font-weight: 400;
                border:none;
                &:first-child {
                  padding-left:0;
                }
              }
              td {
                width:20px;
                &:nth-child(3) {
                  &:before {
                    content: "-";
                    margin:0px 10px 0 5px;
                  }
                }
              }
            }
            + p {
              font-size: 16px;
              color:$grey-1;
            }
          }
        }
        .searchAgain {
          margin:0 16px 32px;
          a {
            margin-left:32px;
            position: relative;
            &:before {
              content: "\2190";
              position: absolute;
              left:-32px;
            }
          }
        }
      }
      details {
        summary {
          list-style: none;
          padding-left:50px;
          &:before {
            content:"\203A";
            display: inline-block;
            color:white;
            background: $blue;
            border-radius: 18px;
            height: 36px;
            width: 36px;
            position: absolute;
            left:0;
            padding-left:14px;
            font-size: 36px;
            font-weight: 300;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-3);
          }
          &::-webkit-details-marker {
            display: none;
          }
          span {
            line-height: 36px;
          }
        }
        &[open]{
          summary {
            &:before {
              content:"\203A";
              -webkit-transform: rotate(-90deg);
              -moz-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
              -o-transform: rotate(-90deg);
              filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
            }
          }
        }
      }
    }
    footer {
      margin-top:64px;
    }
    .callout {
      &--111 {
        background: white;
        border-top:42px solid $grey-4;
        position: relative;
        padding-top:28px;
        margin: 0 16px;
        span {
          position: absolute;
          top:-36px;
          left:16px;
          color:$white;
          a {
            color:$white;
            text-decoration: none;
            position: relative;
          }
          &:before {
            content:"";
            display: inline-block;
            position: absolute;
            height:36px;
            width:36px;
            background: $grey-4;
            top:10px;
            transform:         rotate(45deg);
            -ms-transform:     rotate(45deg); /* IE 9 */
            -webkit-transform: rotate(45deg); /* Safari 3-8 */
          }
        }
      }
    }
  }
}
