@import "environment/settings/colours";
@import "environment/tools/mixins/conditionals";

$blue-1: #669ed4;
$grey: #E8EDEE;
$grey-2: #bac4c8;
$grey-4: #425563;

body {
  &.resultsPage {
    background-color:$grey;
    header {
      background-color: $white;
    }
    .breadcrumb {
      background-color: $white;
    }
    main {
      h1 {
        color:$black;
        padding:0 16px;
        position: relative;
        font-size:32px;
        border-top:24px solid $grey;
        padding:12px 16px 32px;
        line-height:42px;
        font-weight:600;
        @include media(tablet) {
          max-width: 960px;
          margin:auto;
          font-size:36px;
        }
      }
      .results-block{
          &--none {
            @include media(tablet) {
              margin-top: 32px;
            }
            h1 {
              color:$white;
              border-top:none;
            }
          }
      }
      .viewToggle {
        margin: 0px 18px 70px 18px;
        @include media(tablet) {
          margin: 0px 18px 30px 18px;
        }
        a {
          text-decoration: none;
          position: relative;
          color: $black;
          display: inline-block;
          &:before {
            display: inline-block;
            height:40px;
            width:80px;
            content: "No";
            position: absolute;
            background: $grey-1;
            border-radius: 20px;
            color: #fff;
            border-left: 40px solid $grey-1;
            white-space: pre;
            top: 65px;
            line-height: 40px;
            @include media(355px) {
              top: 35px;
            }
            @include media(tablet) {
              right:-90px;
              top: 1px;
            }
          }
          &:after {
            display: inline-block;
            content: "";
            position: absolute;
            width: 25px;
            height: 25px;
            background: $white;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
            left: 7px;
            top: 72px;
            @include media(355px) {
              top: 42px;
            }
            @include media(tablet) {
              left: 335px;
              top: 8px;
            }
          }
          &.checked{
            &:before {
              content: "Yes";
              background: $blue;
              border-left: 11px solid $blue;
            }
            &:after {
              left: 50px;
              @include media(tablet) {
                left: 377px;
              }
            }
          }
          @include media(tablet) {
            line-height:40px;
          }
        }
      }
      .page-section {
        padding:0;
        margin:0;
        max-width: 100%;
        .grid-row {
          max-width:960px;
          margin:0 auto;
        }
        .results {
          margin-bottom:32px;
          @keyframes fadeIn {
            to {
              opacity: 1;
            }
          }
          &.fade-in {
            opacity: 0;
            animation: fadeIn 0.5s ease-in 1 forwards;
          }
          li {
            padding:0;
            border: none;
            border-top:2px solid $grey-2;
            .results {
              &__details {
                padding:30px 0 0;
                @include media(tablet) {
                  clear:both;
                  float: left;
                  width: 100%;
                  > div {
                    max-width: calc( 100% * 1/2);
                    min-width: calc( 100% * 1/2);
                    width:100%;
                    float:left;
                    > p {
                      &:first-of-type {
                        font-size: 16px;
                        line-height: 16px;
                        color:$grey-1;
                      }
                    }
                  }
                  > p {
                    position: absolute;
                    z-index: 1;
                    margin-top:0;
                    bottom:16px;
                    @include media(tablet) {
                      left:calc( 100% * 1/2);
                      padding-left:16px;
                    }
                    @include media(desktop) {
                      left:calc(100% - ((100% - 48px) * 2/5));
                      padding-left:8px;
                    }
                    &:nth-of-type(1) {
                      bottom:50px;
                    }
                  }
                  > section {
                    min-width: calc( 100% * 1/2);
                    max-width: calc( 100% * 1/2);
                  }
                }
                @include media(desktop) {
                  width:100%;
                  > h2,
                  > p {
                    max-width: calc( 100% * 4/7);
                  }
                  > section {
                    min-width: calc( 100% * 2/5);
                    max-width: calc( 100% * 2/5);
                  }
                }
                .callout {
                  &--info {
                    background-color: $white;
                    border-left:0;
                    border-top:2px solid $blue-1;
                    @include media(tablet) {
                      float:right;
                      margin-top:0px;
                    }
                    @include media(desktop) {
                      details {
                        margin-top:0;
                      }
                    }
                    details {
                      .details__content {
                        display: none;
                      }
                      &.open {
                        .details__content {
                          display: block;
                        }
                      }
                    }
                  }
                }
              }
            }
            p {
              &.callout {
                &--bh {
                  background:transparent;
                  border-width: 2px 0;
                  border-color:$blue;
                  padding:10px 0;
                  position:relative;
                  margin-top:42px;
                  font-size:16px;
                  line-height: 24px;
                  &:after {
                    content:"i";
                    text-indent: -9999px;
                    background: $blue url(images/info_icon.png) center center no-repeat;
                    height: 30px;
                    width: 30px;
                    display: inline-block;
                    text-align: center;
                    position: absolute;
                    top: -30px;
                    left: 0;
                  }
                }
              }
            }
            &.wrapped {
              .results {
                &__details {
                  @include media(tablet) {
                    > p {
                      bottom:56px;
                      &:nth-of-type(1) {
                        bottom:90px;
                      }
                    }
                  }
                }
              }
              &.open {
                .results {
                  &__details {
                    @include media(tablet) {
                      > p {
                        bottom:16px;
                        &:nth-of-type(1) {
                          bottom:50px;
                        }
                      }
                    }
                  }
                }
              }
              &.noTimes {
                .results {
                  &__details {
                    @include media(tablet) {
                      > p {
                        bottom:76px;
                        &:nth-of-type(1) {
                          bottom:110px;
                        }
                      }
                    }
                  }
                }
              }
            }
            &.noTimes {
              .results {
                &__details {
                  @include media(tablet) {
                    > p {
                      bottom:36px;
                      &:nth-of-type(1) {
                        bottom:70px;
                      }
                    }
                  }
                }
              }
            }
          }
          > li {
            @include media(tablet) {
              margin-top:32px;
            }
            &:last-child {
              border-bottom:2px solid $grey-2;
              padding-bottom:30px;
            }
          }
          .openingTimes {
            margin: 32px 0 8px;
            tr {
              &:first-child {
                display:none;
              }
              &:nth-child(2){
                th,td {
                  padding-top:0px;
                }
              }
              td, th {
                font-size:20px;
                line-height: 20px;
                padding:5px;
                font-weight: 400;
                border:none;
                padding-top:10px;
              }
              td {
                text-align: right;
                &:last-child {
                  text-align: left;
                }
              }
            }
            .hasSessions{
              td {
                padding-top:0px;
              }
            }
            + p {
              font-size: 16px;
              color:$grey-1;
            }
            &__openResults {
              font-size:16px;
            }
          }
        }
        .searchAgain {
          margin:0 16px 32px;
          a {
            margin-left:32px;
            position: relative;
            &:before {
              content: "\2190";
              position: absolute;
              left:-32px;
            }
          }
        }
      }
      details {
        summary {
          list-style: none;
          padding-left:50px;
          &:before {
            content:"\203A";
            display: inline-block;
            color:white;
            background: $blue;
            border-radius: 18px;
            height: 36px;
            width: 36px;
            max-height: 36px;
            max-width: 36px;
            text-align: center;
            position: absolute;
            left:0;
            font-size: 36px;
            font-weight: 300;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-3);
          }
          &::-webkit-details-marker {
            display: none;
          }
          span {
            line-height: 36px;
          }
        }
        &.open{
          summary {
            &:before {
              content:"\203A";
              -webkit-transform: rotate(-90deg);
              -moz-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
              -o-transform: rotate(-90deg);
              filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
            }
          }
        }
      }
    }
    footer {
      margin-top:64px;
    }
    .callout {
      &--111 {
        background: white;
        border-top:42px solid $grey-4;
        position: relative;
        padding-top:28px;
        margin: 0 16px;
        span {
          position: absolute;
          top:-36px;
          left:16px;
          color:$white;
          a {
            color:$white;
            text-decoration: none;
            position: relative;
          }
          &:before {
            content:"";
            display: inline-block;
            position: absolute;
            height:36px;
            width:36px;
            background: $grey-4;
            top:10px;
            transform:         rotate(45deg);
            -ms-transform:     rotate(45deg); /* IE 9 */
            -webkit-transform: rotate(45deg); /* Safari 3-8 */
          }
        }
      }
    }
  }
}
