// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Footer 
@include mq($from: desktop) {
  .nhsuk-footer__list--three-columns{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: nhsuk-spacing(4);
    -moz-column-gap: nhsuk-spacing(4);
    column-gap: nhsuk-spacing(4);

    li {
      float: none;
    }
  }
}

// Loader
.nhsuk-loader__spinner {
  animation: spin 2s linear infinite;
  border: nhsuk-spacing(3) solid darken(#f0f4f5, 10%);
  border-radius: 50%;
  border-top: nhsuk-spacing(3) solid $color_nhsuk-blue;
  display: inline-block;
  height: 120px;
  margin: auto;
  width: 120px;

  &.nhsuk-loader__spinner--mobile {
    border: nhsuk-spacing(1) solid $color_nhsuk-grey-4;
    border-top: nhsuk-spacing(1) solid $color_nhsuk-blue;
    height: 28px;
    width: 28px;
  }
}

.nhsuk-loader {
  @include nhsuk-responsive-margin(4, bottom);
  @include nhsuk-responsive-margin(4, top);
  
  position: relative;
  
  .nhsuk-loader__spinner--mobile {
    position: absolute;
    left: 0;
    top: 0;
  }

  .nhsuk-loader__text {
    margin-bottom: 0;
    padding-left: nhsuk-spacing(6);
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// nhsuk-list variant with a border
// to replace wagtail specific css
.nhsuk-list--border {
  .nhsuk-list--border__item {
    @include top-and-bottom;

    border-bottom: 1px solid $color_nhsuk-grey-4;
    margin-bottom: 0;
    padding: nhsuk-spacing(4) nhsuk-spacing(0);

    &:first-of-type {
      border-top: 1px solid $color_nhsuk-grey-4;
    }
  }
}

// Utility class for changing text colour
.nhsuk-u-secondary-text-color {
  color: $nhsuk-secondary-text-color !important;
}

// Button styled as a link
.nhsuk-button--link {
  @include nhsuk-link-style-default;
  @include nhsuk-typography-responsive(19);

  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
}

// Geo locate
.geo-locate > div,
.geo-locate--denied,
.geo-locate--searching {
  display: none;
}

.geo-locate--locate {
  @include mq($from: desktop) {
    margin-left: nhsuk-spacing(2);
  }
  @include mq($until: desktop) {
    display: block;
    margin-top: nhsuk-spacing(3);
  }
}

// Open toggle
.c2s-open-toggle {
  margin-top: - nhsuk-spacing(4);
}

.c2s-results__links {
  margin-bottom: 0;
  
  @include mq($until: desktop) {
    margin-bottom: nhsuk-spacing(4);
  }
}
