@charset "UTF-8";
@font-face {
  font-family: "FS Me";
  src: url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Light.eot?") format("eot"), url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "FS Me";
  src: url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Regular.eot?") format("eot"), url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FS Me";
  src: url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Bold.eot?") format("eot"), url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Bold.woff") format("woff");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "FS Me";
  src: url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Heavy.eot?") format("eot"), url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: bold;
}

.page-section, .callout--inner, .global-header--inner, .global-footer--inner, .local-header--inner, .notification-banner--inner, .skiplinks--inner {
  margin: 0 15px;
  max-width: 960px;
}

@media (min-width: 925px) {
  .page-section, .callout--inner, .global-header--inner, .global-footer--inner, .local-header--inner, .notification-banner--inner, .skiplinks--inner {
    margin: 0 30px;
  }
}

@media (min-width: 1020px) {
  .page-section, .callout--inner, .global-header--inner, .global-footer--inner, .local-header--inner, .notification-banner--inner, .skiplinks--inner {
    margin: 0 auto;
  }
}

.grid-row {
  margin: 0 -15px;
}

@media (min-width: 925px) {
  .page-section .grid-row > * {
    margin-top: 0;
  }
}


.reading-width {
  max-width: 40em;
}

.grid-row:after {
  clear: both;
  content: "";
  display: block;
}

.util-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.util-nofocus:focus {
  outline: none;
}

.util-bg-tint__yellow {
  background-color: #fff1d2;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}



/**
  * Start of normalize
**/

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
  * End of normalize
**/

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
figure,
table,
th,
td,
caption,
hr {
  margin: 0;
  padding: 0;
}


html, body, button, input, table, td, th {
  font-family: "FS Me", Arial, sans-serif;
}

html {
  background-color: #d9e1e2;
}

body {
  background-color: #fff;
}

.button {
  font-family: "FS Me", Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
  margin-top: 16px;
  -webkit-appearance: none;
  background-color: #008a40;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  letter-spacing: .5px;
  padding: 12px 24px;
  text-align: center;
  width: 100%;
}

@media (min-width: 641px) {
  .button {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (min-width: 925px) {
  .button {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (min-width: 925px) {
  .button {
    margin-top: 32px;
  }
}

@media (min-width: 641px) {
  .button {
    margin-right: 32px;
    width: auto;
  }
}

.button:link, .button:hover, .button:focus, .button:visited {
  background-color: #008a40;
  color: #fff;
  text-decoration: none;
}

.button:focus {
  outline: 3px solid #ffb81c;
}

.button__cancel, .button__cancel:link, .button__cancel:hover, .button__cancel:focus, .button__cancel:visited {
  background-color: #d81e05;
  border-color: #d81e05;
}


.cta {
  padding-right: 6rem;
  background-color: #0072c6;
  background-image: url("images/icon-button-start.svg");
  background-repeat: no-repeat;
  background-position: 95% 55%;
}


/*
   Form elements
*/

figure {
  margin-left: 0;
  margin-right: 0;
}

textarea {
  font-family: "FS Me", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-transform: none;
  border: 2px solid #768692;
  display: block;
  padding: 0 4px;
  width: 100%;
}

@media (min-width: 641px) {
  textarea {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (min-width: 925px) {
  textarea {
    font-size: 20px;
    line-height: 32px;
  }
}

textarea:focus {
  outline: 3px solid #ffb81c;
}

fieldset {
  width: 100%;
}

textarea {
  display: block;
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;

  body:not(:-moz-handler-blocked) & {
    display: table-cell;
  }

legend {
    padding: 0;
    display: table;
  }
}

.form-section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

@media (min-width: 641px) {
  .form-section {
    margin-bottom: 60px;
  }
}

.form-group {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

@media (min-width: 641px) {
  .form-group {
    margin-bottom: 30px;
  }
}

.form-group-related {
  margin-bottom: 10px;
}

@media (min-width: 641px) {
  .form-group-related {
    margin-bottom: 20px;
  }
}

.form-group-compound {
  margin-bottom: 10px;
}

.form-label,
.form-label-bold {
  display: block;
  color: #000;
  padding-bottom: 2px;
}

.form-label {
  font-family: "FS Me", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-transform: none;
}

@media (min-width: 641px) {
  .form-label {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 925px) {
  .form-label {
    font-size: 24px;
    line-height: 32px;
  }
}

.form-label-bold {
  font-family: "FS Me", Arial, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
}

@media (min-width: 641px) {
  .form-label-bold {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 925px) {
  .form-label-bold {
    font-size: 24px;
    line-height: 32px;
  }
}

.form-block {
  float: left;
  width: 100%;
  margin-top: -5px;
  margin-bottom: 5px;
}

@media (min-width: 641px) {
  .form-block {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.form-hint {
  font-family: "FS Me", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-transform: none;
  display: block;
  color: #0072c6;
  font-weight: normal;
  margin-top: -2px;
  padding-bottom: 2px;
}

@media (min-width: 641px) {
  .form-hint {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 925px) {
  .form-hint {
    font-size: 24px;
    line-height: 32px;
  }
}

.form-label .form-hint,
.form-label-bold .form-hint {
  margin-top: 0;
  padding-bottom: 0;
}

.form-control {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "FS Me", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-transform: none;
  width: 100%;
  padding: 4px;
  background-color: #fff;
  border: 2px solid #425563;
}

@media (min-width: 641px) {
  .form-control {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 925px) {
  .form-control {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 641px) {
  .form-control {
    width: 50%;
  }
}

.form-radio {
  display: block;
  margin: 10px 0;
}

.form-radio input {
  vertical-align: middle;
  margin: -4px 5px 0 0;
}

.form-checkbox {
  display: block;
  margin: 15px 0;
}

.form-checkbox input {
  vertical-align: middle;
  margin: -2px 5px 0 0;
}

.form-control-3-4 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-3-4 {
    width: 75%;
  }
}

.form-control-2-3 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-2-3 {
    width: 66.66%;
  }
}

.form-control-1-2 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-1-2 {
    width: 50%;
  }
}

.form-control-1-3 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-1-3 {
    width: 33.33%;
  }
}

.form-control-1-4 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-1-4 {
    width: 25%;
  }
}

.form-control-1-8 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-1-8 {
    width: 12.5%;
  }
}

/* START OF GDS-ESQUE RADIOS AND CHECKBOXES */

.block-label {
  display: block;
  position: relative;
  width: auto;
  padding: 8px 10px 9px 50px;
  margin-bottom: 10px;
  cursor: pointer;
}

@media (min-width: 500px) {
  .block-label {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.block-label input {
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 38px;
  height: 38px;
}

.js-enabled .block-label input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.js-enabled .block-label.selection-button-radio::before {
  box-sizing: content-box;
  content: "";
  border: 3px solid #0072c6;
  border-radius: 50%;
  background: #fff;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
}

.js-enabled .block-label.selection-button-radio::after {
  box-sizing: content-box;
  content: "";
  border-radius: 50%;
  background: currentColor;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

.js-enabled .block-label.selection-button-checkbox::before {
  box-sizing: content-box;
  content: "";
  border: 3px solid #0072c6;
  background: #fff;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
}

.js-enabled .block-label.selection-button-checkbox::after {
  box-sizing: content-box;
  content: "";
  border: solid;
  border-width: 0 0 5px 5px;
  background: transparent;
  width: 17px;
  height: 7px;
  position: absolute;
  top: 11px;
  left: 9px;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

.js-enabled .block-label.selection-button-radio.focused::before, .js-enabled .block-label.selection-button-checkbox.focused::before {
  -webkit-box-shadow: 0 0 0 5px #F7E214;
  -moz-box-shadow: 0 0 0 5px #F7E214;
  box-shadow: 0 0 0 5px #F7E214;
}

.js-enabled .block-label.selection-button-radio.selected::after, .js-enabled .block-label.selection-button-checkbox.selected::after {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}

/* END OF GDS-ESQUE RADIOS AND CHECKBOXES */


img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
}

h1 {
  font-family: "FS Me", Arial, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: none;
}

@media (min-width: 641px) {
  h1 {
    font-size: 48px;
    line-height: 64px;
  }
}

@media (min-width: 925px) {
  h1 {
    font-size: 64px;
    line-height: 80px;
  }
}

h2 {
  font-family: "FS Me", Arial, sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
  text-transform: none;
}

@media (min-width: 641px) {
  h2 {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (min-width: 925px) {
  h2 {
    font-size: 36px;
    line-height: 48px;
  }
}

h3 {
  font-family: "FS Me", Arial, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
}

@media (min-width: 641px) {
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 925px) {
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
}

h4 {
  font-family: "FS Me", Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
}

@media (min-width: 641px) {
  h4 {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (min-width: 925px) {
  h4 {
    font-size: 20px;
    line-height: 32px;
  }
}

h5 {
  font-family: "FS Me", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: none;
}

@media (min-width: 641px) {
  h5 {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 925px) {
  h5 {
    font-size: 16px;
    line-height: 24px;
  }
}

h6 {
  font-family: "FS Me", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
}

@media (min-width: 641px) {
  h6 {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 925px) {
  h6 {
    font-size: 16px;
    line-height: 24px;
  }
}

hr {
  background-color: #cce3f4;
  border: 0;
  height: 1px;
}

ul {
  font-family: "FS Me", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-transform: none;
  list-style: disc outside;
  padding-left: 1em;
}

@media (min-width: 641px) {
  ul {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (min-width: 925px) {
  ul {
    font-size: 20px;
    line-height: 32px;
  }
}

ol {
  font-family: "FS Me", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-transform: none;
  list-style: decimal outside;
  padding-left: 1em;
}

@media (min-width: 641px) {
  ol {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (min-width: 925px) {
  ol {
    font-size: 20px;
    line-height: 32px;
  }
}

ol li {
  padding-left: .2em;
}

dl {
  font-family: "FS Me", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-transform: none;
}

@media (min-width: 641px) {
  dl {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (min-width: 925px) {
  dl {
    font-size: 20px;
    line-height: 32px;
  }
}

.local-header li,
.page-section li {
  margin-top: 8px;
}

a:link {
  color: #0072c6;
}

a:visited {
  color: #003893;
}

a:hover {
  color: #0091c9;
}

a:active {
  color: #0091c9;
}

a:focus {
  outline: 3px solid #ffb81c;
}

.link__reverse-polarity:link, .callout__alert a:link {
  color: #fff;
}

.link__reverse-polarity:visited, .callout__alert a:visited {
  color: #d4efff;
}

.link__reverse-polarity:hover, .callout__alert a:hover {
  color: #d4efff;
}

.link__reverse-polarity:active, .callout__alert a:active {
  color: #d4efff;
}

.link__reverse-polarity:focus, .callout__alert a:focus {
  outline: 3px solid #ffb81c;
}

p, legend {
  font-family: "FS Me", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-transform: none;
}

@media (min-width: 641px) {
  p {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (min-width: 925px) {
  p {
    font-size: 20px;
    line-height: 32px;
  }
}

legend {
  font-weight: 600;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 16px 0 32px;
  width: 100%;
}

table th,
table td {
  font-family: "FS Me", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  border-bottom: 1px solid #d9e1e2;
  padding: 12px 12px 12px 0;
  vertical-align: top;
}

@media (min-width: 641px) {
  table th,
  table td {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 925px) {
  table th,
  table td {
    font-size: 16px;
    line-height: 24px;
  }
}

table th {
  font-family: "FS Me", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: none;
  text-align: left;
}

@media (min-width: 641px) {
  table th {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 925px) {
  table th {
    font-size: 16px;
    line-height: 24px;
  }
}

blockquote {
  quotes: "“" "”";
}

blockquote p:before {
  content: open-quote;
}

blockquote p:after {
  content: no-close-quote;
}

blockquote p:last-of-type {
  margin-bottom: 0;
}

blockquote p:last-of-type:after {
  content: close-quote;
}

abbr[title] {
  text-decoration: none;
}

.column__one-quarter {
  display: block;
  padding: 0 15px;
}

@media (min-width: 925px) {
  .column__one-quarter {
    float: left;
    width: 25%;
  }
}

.column__one-third {
  display: block;
  padding: 0 15px;
}

@media (min-width: 925px) {
  .column__one-third {
    float: left;
    width: 33.3333333333%;
  }
}

.column__one-half {
  display: block;
  padding: 0 15px;
}

@media (min-width: 925px) {
  .column__one-half {
    float: left;
    width: 50%;
  }
}

.column__two-thirds {
  display: block;
  padding: 0 15px;
}

@media (min-width: 925px) {
  .column__two-thirds {
    float: left;
    width: 66.6666666667%;
  }
}

.column__three-quarters {
  display: block;
  padding: 0 15px;
}

@media (min-width: 925px) {
  .column__three-quarters {
    float: left;
    width: 75%;
  }
}

.column__one-quarter-right {
  display: block;
  padding: 0 15px;
}

@media (min-width: 925px) {
  .column__one-quarter-right {
    float: right;
    width: 25%;
  }
}

.column__one-third-right {
  display: block;
  padding: 0 15px;
}

@media (min-width: 925px) {
  .column__one-third-right {
    float: right;
    width: 33.3333333333%;
  }
}

.column__one-half-right {
  display: block;
  padding: 0 15px;
}

@media (min-width: 925px) {
  .column__one-half-right {
    float: right;
    width: 50%;
  }
}

.column__two-thirds-right {
  display: block;
  padding: 0 15px;
}

@media (min-width: 925px) {
  .column__two-thirds-right {
    float: right;
    width: 66.6666666667%;
  }
}

.column__three-quarters-right {
  display: block;
  padding: 0 15px;
}

@media (min-width: 925px) {
  .column__three-quarters-right {
    float: right;
    width: 75%;
  }
}

.page-section {
  padding: 16px 0;
}

@media (min-width: 925px) {
  .page-section {
    padding: 32px 0;
  }
}

.page-section + .page-section {
  padding-top: 0;
}

.page-section * + * {
  margin-top: 16px;
}

@media (min-width: 925px) {
  .page-section * + * {
    margin-top: 32px;
  }
}

.page-section__collapse-bottom {
  padding-bottom: 0;
}

.callout {
  padding: 16px;
  background-color: #fff;
}

@media (min-width: 925px) {
  .callout {
    padding: 32px;
  }
}

.callout__full-width {
  background-color: #0091c9;
  color: #fff;
  padding-left: 0;
  padding-right: 0;
}

.callout__alert {
  background-color: #d81e05;
  color: #fff;
}

.callout__info {
  border: 12px solid #40add7;
}

.callout__warning {
  background-color: #ffc649;
}

.callout__error {
  border: 4px solid #d81e05;
}

@media (min-width: 925px) {
  .callout__overlap {
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
    top: -64px;
  }
  .callout__overlap.callout__alert {
    border-top: 32px solid rgba(216, 30, 5, 0.9);
    padding-top: 0;
  }
}

.card {
  margin-bottom: 16px;
  background-color: #cce3f4;
  display: inline-block;
  margin-right: 16px;
  margin-top: 0;
  max-width: 300px;
  vertical-align: top;
}

@media (min-width: 925px) {
  .card {
    margin-bottom: 32px;
  }
}

.card--caption {
  margin-top: 0;
  padding: 16px;
}

.error {
  border-color: #d81e05;
}

.global-header {
  background-color: #0072c6;
}

.global-header--inner {
  padding-bottom: 16px;
  padding-top: 16px;
}

@media (min-width: 641px) {
  .global-header--inner {
    padding-bottom: 24px;
    padding-top: 24px;
  }
}

.global-header--link {
  background: url("../images/logotype-nhs-colour.png") no-repeat;
  background-size: contain;
  display: block;
  height: 32px;
  text-indent: -999em;
  width: 79px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .global-header--link {
    background-image: url("../images/logotype-nhs-colour@2x.png");
    background-size: 79px 32px;
  }
}

.global-footer {
  background-color: #d9e1e2;
  border-top: 1px solid #f7f9f9;
  color: #425563;
}

.global-footer * {
  font-family: "FS Me", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
}

@media (min-width: 641px) {
  .global-footer * {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 925px) {
  .global-footer * {
    font-size: 16px;
    line-height: 24px;
  }
}

.global-footer * + * {
  margin-top: 16px;
}

@media (min-width: 925px) {
  .global-footer * + * {
    margin-top: 32px;
  }
}

.global-footer a {
  color: #425563;
}

.global-footer a:hover {
  color: #000;
}

.global-footer--inner {
  padding: 0 0 64px;
}

.inline-list {
  list-style: none;
  padding-left: 0;
}

.inline-list--item {
  margin: 0;
}

@media (min-width: 641px) {
  .inline-list--item {
    display: inline;
  }
}

@media (min-width: 641px) {
  .inline-list__slash .inline-list--item:after {
    content: "/";
  }
  .inline-list__slash .inline-list--item:last-child:after {
    content: "";
  }
}

.form-label__large {
  font-family: "FS Me", Arial, sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
  text-transform: none;
  display: block;
}

@media (min-width: 641px) {
  .form-label__large {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (min-width: 925px) {
  .form-label__large {
    font-size: 36px;
    line-height: 48px;
  }
}

.link-list {
  list-style: none;
  padding-left: 0;
}

.local-header {
  background-color: #0072c6;
  border-top: 1px solid #338ed1;
}

.local-header * + * {
  margin-top: 16px;
}

@media (min-width: 925px) {
  .local-header * + * {
    margin-top: 32px;
  }
}

.local-header--inner {
  padding-bottom: 16px;
  padding-top: 32px;
}

@media (min-width: 641px) {
  .local-header--inner {
    padding-bottom: 16px;
    padding-top: 64px;
  }
}

@media (min-width: 925px) {
  .local-header--inner {
    padding-bottom: 32px;
    padding-top: 128px;
  }
}

.local-header--title {
  color: #fff;
  margin: 0;
}

.local-header--intro {
  color: #fff;
  margin-top: 16px;
  max-width: 40em;
}

.notification-banner {
  background-color: #f8f8f8;
}

.notification-banner * {
  font-family: "FS Me", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
}

@media (min-width: 641px) {
  .notification-banner * {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 925px) {
  .notification-banner * {
    font-size: 16px;
    line-height: 24px;
  }
}

.js-enabled .notification-banner__js-hidden {
  display: none;
}

.notification-banner__hiviz {
  background-color: #ffca55;
}

.notification-banner__hiviz a:link {
  color: #005da2;
}

.notification-banner__hiviz a:visited {
  color: #002e79;
}

.notification-banner__hiviz a:hover {
  color: #0077a5;
}

.notification-banner__hiviz a:active {
  color: #0077a5;
}

.notification-banner__hiviz a:focus {
  outline: 3px solid #ffb81c;
}

.notification-banner--inner {
  padding: 8px 0;
}

.section-unit {
  padding-bottom: 16px;
  border-bottom: 1px solid #cce3f4;
}

@media (min-width: 925px) {
  .section-unit {
    padding-bottom: 32px;
  }
}

.section-unit:last-child {
  border: 0;
  padding-bottom: 0;
}

.skiplinks {
  background-color: #a6ceeb;
}

.skiplinks--link {
  color: #fff;
  display: inline-block;
  left: -999em;
  padding: 8px;
  position: absolute;
}

.skiplinks--link:focus {
  background-color: #f2f8fc;
  border: 3px solid #ffb81c;
  outline: none;
  position: static;
}
